In [169]:
import pandas as pd
import numpy as np

# load data
filename = 'jp_funda-input.csv' # use your path
df = pd.read_csv(filename, header=0, index_col='Ticker')
print(len(df))

2819

In [170]:
sorted_cols = sorted(list(df.columns))
for col in sorted_cols:
    print(col)

Basic Average Shares
Basic EPS
Capital Lease Obligations
Cash And Cash Equivalents
Common Stock Equity
Cost of Revenue
Diluted Average Shares
Diluted EPS
Diluted NI Available to Com Stockholders
EBIT
EPS
Gross Profit
Interest Expense
Interest Income
Invested Capital
Long Term Debt
Net Debt
Net Income Common Stockholders
Net Income from Continuing & Discontinued Operation
Net Income from Continuing Operation Net Minority Interest
Net Interest Income
Net Non Operating Interest Income Expense
Net Tangible Assets
Normalized EBITDA
Normalized Income
Operating Expense
Operating Income
Ordinary Shares Number
Pretax Income
ROA
ROE
Reconciled Cost of Revenue
Reconciled Depreciation
Share Issued
Short Term Debt
Tangible Book Value
Tax Effect of Unusual Items
Tax Provision
Tax Rate for Calcs
Total Assets
Total Capitalization
Total Debt
Total Equity Gross Minority Interest
Total Expenses
Total Liabilities Net Minority Interest
Total Operating Income as Reported
Total Revenue
Total Unusual Items
Total Unusual Items Excluding Goodwill
Total stockholders' equity
Treasury Shares Number
Working Capital

In [171]:
ratios = pd.DataFrame(index=df.index)
#ratios['Ticker'] = df['Ticker'] # create new df to store ratios

print(len(ratios))
ratios.head()

2819

Empty DataFrame
Columns: []
Index: [1301, 1332, 1333, 1352, 1376]

### Asset Utilization or Turnover ratios

In [172]:
# Total Asset Turnover
df_tmp = pd.DataFrame(index=df.index)
df_tmp = df[['Total Revenue', 'Total Assets']]

df_tmp = df_tmp.fillna(0)

TAT = df_tmp['Total Revenue'].astype(int) / df_tmp['Total Assets'].astype(int)# Total Revenue / Total Assets
df_tmp["Total asset turnover"] = TAT    
df_tmp = df_tmp[['Total asset turnover']]

results = pd.concat([ratios, df_tmp], axis=1, join='inner')

#ratios = ratios.merge(df_tmp, how='inner', left_on=['Ticker'], right_on=['Ticker']) # merge dfs
#df_out = pd.concat([ratios, df_tmp], axis=1)
#ratios[ratios.duplicated('Ticker', keep=False)]

print(results)

        Total asset turnover
Ticker
1301                2.361250
1332                1.403804
1333                1.714197
1352                2.005881
1376                1.243356
...                      ...
9993                2.181787
9994                2.655843
9995                2.141667
9996                1.535815
9997                0.806582

[2819 rows x 1 columns]

### Financial Leverage ratios

In [173]:
# Total Debt Ratio
df_tmp = pd.DataFrame(index=df.index)
df_tmp = df[['Total Liabilities Net Minority Interest', 'Total Assets']]

df_tmp = df_tmp.fillna(0)
#print(df_tmp)

TDR = df['Total Liabilities Net Minority Interest'].astype(int) / df['Total Assets'].astype(int) # Total Liabilities / Total Assets
df_tmp["Total debt ratio"] = TDR    
df_tmp = df_tmp[['Total debt ratio']]

results = pd.concat([results, df_tmp], axis=1, join='inner')

#ratios = ratios.merge(df_tmp, how='inner', left_on=['Ticker'], right_on=['Ticker']) # merge dfs
#df_out = pd.concat([ratios, df_tmp], axis=1)
#ratios[ratios.duplicated('Ticker', keep=False)]

print(results)

        Total asset turnover  Total debt ratio
Ticker
1301                2.361250          0.706839
1332                1.403804          0.649464
1333                1.714197          0.698941
1352                2.005881          0.823191
1376                1.243356          0.564001
...                      ...               ...
9993                2.181787          0.439961
9994                2.655843          0.421052
9995                2.141667          0.296622
9996                1.535815          0.265258
9997                0.806582          0.540510

[2819 rows x 2 columns]

In [174]:
# Debt/Equity
df_tmp = pd.DataFrame(index=df.index)
df_tmp = df[['Total Liabilities Net Minority Interest', "Total stockholders' equity"]]
df_tmp = df_tmp.fillna(0)
#df_tmp = df_tmp[(df_tmp["Total stockholders' equity"] != 0)]

DE = df_tmp['Total Liabilities Net Minority Interest'].astype(int) / df_tmp["Total stockholders' equity"].astype(int) # Total Liabilities / Total stockholders' equity
df_tmp["Debt equity ratio"] = DE  
df_tmp = df_tmp[['Debt equity ratio']]

results = pd.concat([results, df_tmp], axis=1, join='inner')

#ratios = ratios.merge(df_tmp, how='inner', left_on=['Ticker'], right_on=['Ticker']) # merge dfs
#df_out = pd.concat([ratios, df_tmp], axis=1)
#ratios[ratios.duplicated('Ticker', keep=False)]

print(results)

        Total asset turnover  Total debt ratio  Debt equity ratio
Ticker
1301                2.361250          0.706839           2.425762
1332                1.403804          0.649464           2.155975
1333                1.714197          0.698941           2.780364
1352                2.005881          0.823191           5.230879
1376                1.243356          0.564001           1.385869
...                      ...               ...                ...
9993                2.181787          0.439961           0.786819
9994                2.655843          0.421052           0.836529
9995                2.141667          0.296622           0.420517
9996                1.535815          0.265258           0.361186
9997                0.806582          0.540510           1.135055

[2819 rows x 3 columns]

In [175]:
# Equity Ratio
df_tmp = pd.DataFrame(index=df.index)
df_tmp = df[['Total Assets', "Total stockholders' equity"]]
df_tmp = df_tmp.fillna(0)

ER = df_tmp["Total stockholders\' equity"].astype(int) / df_tmp['Total Assets'].astype(int) # Total stockholders' equity / Total Assets
df_tmp["Equity ratio"] = ER  
df_tmp = df_tmp[['Equity ratio']]

results = pd.concat([results, df_tmp], axis=1, join='inner')

#ratios = ratios.merge(df_tmp, how='inner', left_on=['Ticker'], right_on=['Ticker']) # merge dfs
#df_out = pd.concat([ratios, df_tmp], axis=1)
#ratios[ratios.duplicated('Ticker', keep=False)]

print(results)

        Total asset turnover  Total debt ratio  Debt equity ratio  \
Ticker
1301                2.361250          0.706839           2.425762
1332                1.403804          0.649464           2.155975
1333                1.714197          0.698941           2.780364
1352                2.005881          0.823191           5.230879
1376                1.243356          0.564001           1.385869
...                      ...               ...                ...
9993                2.181787          0.439961           0.786819
9994                2.655843          0.421052           0.836529
9995                2.141667          0.296622           0.420517
9996                1.535815          0.265258           0.361186
9997                0.806582          0.540510           1.135055

        Equity ratio
Ticker
1301        0.291389
1332        0.301239
1333        0.251385
1352        0.157371
1376        0.406966
...              ...
9993        0.559164
9994        0.503332
9995        0.705374
9996        0.734408
9997        0.476198

[2819 rows x 4 columns]

In [176]:
# Long-term Debt Ratio
df_tmp = pd.DataFrame(index=df.index)
df_tmp = df[['Total Assets', "Long Term Debt"]]
df_tmp = df_tmp.fillna(0)
#df_tmp = df_tmp[df_tmp['Long Term Debt'] != '-']
df_tmp['Long Term Debt'] = np.where(df_tmp['Long Term Debt'] == '-', 0, df_tmp['Long Term Debt'])

LTDR = df_tmp['Long Term Debt'].astype(float) / df_tmp['Total Assets'].astype(float) # Long Term Debt / Total Assets
df_tmp["Long-term debt ratio"] = LTDR  
df_tmp = df_tmp[['Long-term debt ratio']]

results = pd.concat([results, df_tmp], axis=1, join='inner')

#ratios = ratios.merge(df_tmp, how='inner', left_on=['Ticker'], right_on=['Ticker']) # merge dfs
#df_out = pd.concat([ratios, df_tmp], axis=1)
#ratios[ratios.duplicated('Ticker', keep=False)]

print(results)

        Total asset turnover  Total debt ratio  Debt equity ratio  \
Ticker
1301                2.361250          0.706839           2.425762
1332                1.403804          0.649464           2.155975
1333                1.714197          0.698941           2.780364
1352                2.005881          0.823191           5.230879
1376                1.243356          0.564001           1.385869
...                      ...               ...                ...
9993                2.181787          0.439961           0.786819
9994                2.655843          0.421052           0.836529
9995                2.141667          0.296622           0.420517
9996                1.535815          0.265258           0.361186
9997                0.806582          0.540510           1.135055

        Equity ratio  Long-term debt ratio
Ticker
1301        0.291389              0.172012
1332        0.301239              0.204180
1333        0.251385              0.263612
1352        0.157371              0.487066
1376        0.406966              0.000000
...              ...                   ...
9993        0.559164              0.008154
9994        0.503332              0.000774
9995        0.705374              0.012601
9996        0.734408              0.000000
9997        0.476198              0.249964

[2819 rows x 5 columns]

In [178]:
# Times Interest Earned Ratio
df_tmp = pd.DataFrame(index=df.index)
df_tmp = df[['EBIT', "Interest Expense"]]

#df_tmp = df_tmp.dropna()
#df_tmp = df_tmp[df_tmp['Interest Expense'] != '-']
df_tmp = df_tmp.fillna(0)
df_tmp['Interest Expense'] = np.where(df_tmp['Interest Expense'] == '-', 0, df_tmp['Interest Expense'])

TIER = df_tmp['EBIT'].astype(float) / df_tmp['Interest Expense'].astype(float) # Earnings Before Interest and Taxes / Interest
df_tmp["Times interest earned ratio"] = TIER  
df_tmp = df_tmp[['Times interest earned ratio']]

results = pd.concat([results, df_tmp], axis=1, join='inner')

#ratios = ratios.merge(df_tmp, how='inner', left_on=['Ticker'], right_on=['Ticker']) # merge dfs
#df_out = pd.concat([ratios, df_tmp], axis=1)
#ratios[ratios.duplicated('Ticker', keep=False)]

print(results)

        Total asset turnover  Total debt ratio  Debt equity ratio  \
Ticker
1301                2.361250          0.706839           2.425762
1332                1.403804          0.649464           2.155975
1333                1.714197          0.698941           2.780364
1352                2.005881          0.823191           5.230879
1376                1.243356          0.564001           1.385869
...                      ...               ...                ...
9993                2.181787          0.439961           0.786819
9994                2.655843          0.421052           0.836529
9995                2.141667          0.296622           0.420517
9996                1.535815          0.265258           0.361186
9997                0.806582          0.540510           1.135055

        Equity ratio  Long-term debt ratio  Times interest earned ratio
Ticker
1301        0.291389              0.172012                     7.753363
1332        0.301239              0.204180                    14.852078
1333        0.251385              0.263612                    13.058958
1352        0.157371              0.487066                     5.282051
1376        0.406966              0.000000                   128.159818
...              ...                   ...                          ...
9993        0.559164              0.008154                     6.230769
9994        0.503332              0.000774                   132.333333
9995        0.705374              0.012601                     2.907407
9996        0.734408              0.000000                   683.772603
9997        0.476198              0.249964                    52.106952

[2819 rows x 6 columns]

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/computation/expressions.py:68: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  return op(a, b)

### Profitability ratios

In [180]:
# Gross Profit Margin
df_tmp = pd.DataFrame(index=df.index)
df_tmp = df[['Gross Profit', "Total Revenue"]]
df_tmp = df_tmp.fillna(0)

GPM = df_tmp['Gross Profit'].astype(int) / df_tmp['Total Revenue'].astype(int) # Gross Profit / Total Revenue
df_tmp["Gross profit margin"] = GPM 
df_tmp = df_tmp[['Gross profit margin']]

results = pd.concat([results, df_tmp], axis=1, join='inner')

#ratios = ratios.merge(df_tmp, how='inner', left_on=['Ticker'], right_on=['Ticker']) # merge dfs
#df_out = pd.concat([ratios, df_tmp], axis=1)
#ratios[ratios.duplicated('Ticker', keep=False)]

print(results)

        Total asset turnover  Total debt ratio  Debt equity ratio  \
Ticker
1301                2.361250          0.706839           2.425762
1332                1.403804          0.649464           2.155975
1333                1.714197          0.698941           2.780364
1352                2.005881          0.823191           5.230879
1376                1.243356          0.564001           1.385869
...                      ...               ...                ...
9993                2.181787          0.439961           0.786819
9994                2.655843          0.421052           0.836529
9995                2.141667          0.296622           0.420517
9996                1.535815          0.265258           0.361186
9997                0.806582          0.540510           1.135055

        Equity ratio  Long-term debt ratio  Times interest earned ratio  \
Ticker
1301        0.291389              0.172012                     7.753363
1332        0.301239              0.204180                    14.852078
1333        0.251385              0.263612                    13.058958
1352        0.157371              0.487066                     5.282051
1376        0.406966              0.000000                   128.159818
...              ...                   ...                          ...
9993        0.559164              0.008154                     6.230769
9994        0.503332              0.000774                   132.333333
9995        0.705374              0.012601                     2.907407
9996        0.734408              0.000000                   683.772603
9997        0.476198              0.249964                    52.106952

        Gross profit margin
Ticker
1301               0.092355
1332               0.193904
1333               0.130434
1352               0.078331
1376               0.156968
...                     ...
9993               0.275301
9994               0.336622
9995               0.090499
9996               0.189889
9997               0.583772

[2819 rows x 7 columns]

In [183]:
# Net Profit Margin
df_tmp = pd.DataFrame(index=df.index)
df_tmp = df[['Net Income Common Stockholders', "Total Revenue"]]
df_tmp = df_tmp.fillna(0)

NPM = df_tmp['Net Income Common Stockholders'].astype(int) / df_tmp['Total Revenue'].astype(int) # Net Income / Total Revenue
df_tmp["Net profit margin"] = NPM
df_tmp = df_tmp[['Net profit margin']]

results = pd.concat([results, df_tmp], axis=1, join='inner')

#ratios = ratios.merge(df_tmp, how='inner', left_on=['Ticker'], right_on=['Ticker']) # merge dfs
#df_out = pd.concat([ratios, df_tmp], axis=1)
#ratios[ratios.duplicated('Ticker', keep=False)]

print(results)

        Total asset turnover  Total debt ratio  Debt equity ratio  \
Ticker
1301                2.361250          0.706839           2.425762
1332                1.403804          0.649464           2.155975
1333                1.714197          0.698941           2.780364
1352                2.005881          0.823191           5.230879
1376                1.243356          0.564001           1.385869
...                      ...               ...                ...
9993                2.181787          0.439961           0.786819
9994                2.655843          0.421052           0.836529
9995                2.141667          0.296622           0.420517
9996                1.535815          0.265258           0.361186
9997                0.806582          0.540510           1.135055

        Equity ratio  Long-term debt ratio  Times interest earned ratio  \
Ticker
1301        0.291389              0.172012                     7.753363
1332        0.301239              0.204180                    14.852078
1333        0.251385              0.263612                    13.058958
1352        0.157371              0.487066                     5.282051
1376        0.406966              0.000000                   128.159818
...              ...                   ...                          ...
9993        0.559164              0.008154                     6.230769
9994        0.503332              0.000774                   132.333333
9995        0.705374              0.012601                     2.907407
9996        0.734408              0.000000                   683.772603
9997        0.476198              0.249964                    52.106952

        Gross profit margin  Net profit margin
Ticker
1301               0.092355           0.007759
1332               0.193904           0.021402
1333               0.130434           0.013850
1352               0.078331           0.005640
1376               0.156968           0.019293
...                     ...                ...
9993               0.275301          -0.002005
9994               0.336622           0.001219
9995               0.090499           0.000947
9996               0.189889           0.020938
9997               0.583772           0.032572

[2819 rows x 8 columns]

In [184]:
# Return on Assets (ROA)
df_tmp = df[['ROA']]
#ratios = ratios.merge(df_tmp, how='left', left_on='Ticker', right_on='Ticker') # merge dfs

results = pd.concat([results, df_tmp], axis=1, join='inner')

In [185]:
# Return on Equity (ROE)
df_tmp = df[['ROE']]
#ratios = ratios.merge(df_tmp, how='left', left_on='Ticker', right_on='Ticker') # merge dfs

results = pd.concat([results, df_tmp], axis=1, join='inner')

In [186]:
# Earning Per Share (EPS)
df_tmp = df[['EPS']]
ratios = ratios.merge(df_tmp, how='left', left_on='Ticker', right_on='Ticker') # merge dfs

results = pd.concat([results, df_tmp], axis=1, join='inner')

In [187]:
results.head()

,Total asset turnover,Total debt ratio,Debt equity ratio,Equity ratio,Long-term debt ratio,Times interest earned ratio,Gross profit margin,Net profit margin,ROA,ROE,EPS
Ticker,,,,,,,,,,,
1301,2.361250,0.706839,2.425762,0.291389,0.172012,7.753363,0.092355,0.007759,1.83,6.23,188.51
1332,1.403804,0.649464,2.155975,0.301239,0.204180,14.852078,0.193904,0.021402,3,9.64,47.46
1333,1.714197,0.698941,2.780364,0.251385,0.263612,13.058958,0.130434,0.013850,2.37,9.45,238.23
1352,2.005881,0.823191,5.230879,0.157371,0.487066,5.282051,0.078331,0.005640,1.13,7.13,54.22
1376,1.243356,0.564001,1.385869,0.406966,0.000000,128.159818,0.156968,0.019293,2.82,6.55,109.39

In [188]:
ratios.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2831 entries, 1301 to 9997
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   EPS     2831 non-null   float64
dtypes: float64(1)
memory usage: 44.2 KB

In [189]:
ratios = results

In [191]:
ratios = ratios[ratios['ROA'] != '-']
ratios['ROA'] = ratios['ROA'].astype('float')

/Users/angelwoo/.local/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [192]:
ratios = ratios[ratios['ROE'] != '-']
ratios['ROE'] = ratios['ROE'].astype('float')

### Screening masks

In [199]:
# Profitability
mask1 = (ratios['EPS'] > ratios['EPS'].mean())
mask2 = (ratios['ROE'] > ratios['ROE'].mean())
mask3 = (ratios['ROA'] > ratios['ROA'].mean())

# Asset utilisation
mask4 = (ratios['Total asset turnover'] > ratios['Total asset turnover'].mean())

# Financial leverage ratio
mask5 = (ratios['Total debt ratio'] < ratios['Total debt ratio'].mean())
mask6 = (ratios['Debt equity ratio'] < ratios['Debt equity ratio'].mean())
mask7 = (ratios['Equity ratio'] < ratios['Equity ratio'].mean())
mask8 = (ratios['Long-term debt ratio'] < ratios['Long-term debt ratio'].mean())

In [206]:
ratios[(mask2) & (mask3) & (mask4) & (mask5) & (mask8)]

,Total asset turnover,Total debt ratio,Debt equity ratio,Equity ratio,Long-term debt ratio,Times interest earned ratio,Gross profit margin,Net profit margin,ROA,ROE,EPS
Ticker,,,,,,,,,,,
1381,1.101025,0.142682,0.186205,0.766262,0.000000,inf,0.331968,0.099798,11.00,13.08,321.77
1431,1.920156,0.428999,0.687628,0.623883,0.000000,163.950751,0.259428,0.022725,11.26,19.95,77.22
1450,1.276394,0.243841,0.324889,0.750537,0.000000,467.901796,0.211550,0.082792,10.57,13.98,253.63
1716,1.122737,0.192167,0.282250,0.680840,0.000000,3472.606368,0.334862,0.087374,9.40,11.86,219.80
1721,1.246285,0.309637,0.440826,0.702402,0.002460,760.192308,0.131243,0.046345,5.78,8.45,202.97
...,...,...,...,...,...,...,...,...,...,...,...
9799,1.112186,0.220746,0.282613,0.781091,0.000000,550.002788,0.226824,0.066994,7.45,9.56,103.91
9882,1.287249,0.229463,0.292516,0.784447,0.000000,951.272727,0.400742,0.052003,6.69,8.70,159.05
9934,1.384060,0.397735,0.685328,0.580358,0.000000,433.230769,0.161084,0.039368,5.45,9.09,207.34
9936,1.267005,0.255160,0.340964,0.748349,0.029539,530.733333,0.702902,0.062065,7.86,10.56,283.07
9989,2.173131,0.342818,0.512619,0.668759,0.000000,4332.000000,0.250284,0.038351,8.33,12.69,202.67

### Scoring

In [207]:
# Profitability
score = pd.DataFrame(index=ratios.index)

mask1 = (ratios['EPS'] > ratios['EPS'].mean())
mask2 = (ratios['ROE'] > ratios['ROE'].mean())
mask3 = (ratios['ROA'] > ratios['ROA'].mean())

score['profit_score1'] = np.where(mask1, 1.0, 0.0)
score['profit_score2'] = np.where(mask2, 1.0, 0.0)
score['profit_score3'] = np.where(mask3, 1.0, 0.0)

# Asset utilisation
mask4 = (ratios['Total asset turnover'] > ratios['Total asset turnover'].mean())

score['asset_score1'] = np.where(mask5, 1.0, 0.0)

# Financial leverage ratio
mask5 = (ratios['Total debt ratio'] < ratios['Total debt ratio'].mean())
mask6 = (ratios['Debt equity ratio'] < ratios['Debt equity ratio'].mean())
mask7 = (ratios['Equity ratio'] < ratios['Equity ratio'].mean())
mask8 = (ratios['Long-term debt ratio'] < ratios['Long-term debt ratio'].mean())

score['leverage_score1'] = np.where(mask5, 1.0, 0.0)
score['leverage_score2'] = np.where(mask6, 1.0, 0.0)
score['leverage_score3'] = np.where(mask7, 1.0, 0.0)

In [208]:
score.head()

,profit_score1,profit_score2,profit_score3,asset_score1,leverage_score1,leverage_score2,leverage_score3
Ticker,,,,,,,
1301,1.0,0.0,0.0,0.0,0.0,0.0,1.0
1332,0.0,1.0,0.0,0.0,0.0,0.0,1.0
1333,1.0,1.0,0.0,0.0,0.0,0.0,1.0
1352,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1376,0.0,0.0,0.0,0.0,0.0,1.0,1.0

In [209]:
score['Total'] = 1/3 * score['profit_score1'] + 1/3 * score['profit_score2'] + 1/3 * score['profit_score3'] + score['asset_score1'] + 1/3 * score['leverage_score1'] + 1/3 * score['leverage_score2'] + 1/3 * score['leverage_score3']

In [210]:
score['Final'] = score['Total'] / 3

In [211]:
score.head()

,profit_score1,profit_score2,profit_score3,asset_score1,leverage_score1,leverage_score2,leverage_score3,Total,Final
Ticker,,,,,,,,,
1301,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.666667,0.222222
1332,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.666667,0.222222
1333,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.000000,0.333333
1352,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.333333,0.111111
1376,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.666667,0.222222

In [213]:
score_mask = (score['Final'] > 0.7)
score[score_mask]

,profit_score1,profit_score2,profit_score3,asset_score1,leverage_score1,leverage_score2,leverage_score3,Total,Final
Ticker,,,,,,,,,
1377,1.0,0.0,1.0,1.0,1.0,1.0,0.0,2.333333,0.777778
1381,1.0,1.0,1.0,1.0,1.0,1.0,0.0,2.666667,0.888889
1401,0.0,1.0,1.0,1.0,1.0,1.0,0.0,2.333333,0.777778
1414,1.0,1.0,1.0,1.0,1.0,1.0,0.0,2.666667,0.888889
1417,1.0,0.0,1.0,1.0,1.0,1.0,0.0,2.333333,0.777778
...,...,...,...,...,...,...,...,...,...
9932,1.0,0.0,1.0,1.0,1.0,1.0,0.0,2.333333,0.777778
9934,1.0,1.0,1.0,1.0,1.0,1.0,0.0,2.666667,0.888889
9936,1.0,1.0,1.0,1.0,1.0,1.0,0.0,2.666667,0.888889
9974,1.0,1.0,1.0,1.0,1.0,1.0,0.0,2.666667,0.888889
9989,1.0,1.0,1.0,1.0,1.0,1.0,0.0,2.666667,0.888889

In [214]:
score.reset_index(inplace=True)
score.to_csv("funda_score.csv", header='column_names', index=False)